{% extends 'Appyeri/base.html' %}

{% load static %}

{% block title %} Editar Usuario {% endblock title %}

{% block inicio %}

    <div class="d-flex justify-content-center">

        <div class="d-flex flex-column">

            <form action="" method="POST">
                {% csrf_token %}
                <table>
                {{ form }}
                </table>
                <input type="submit" value="Guardar Contraseña">

            </form>

        </div>
    </div>
{% endblock  %}